<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>注册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>

    <div class="container" style="max-width:600px;margin-top: 50px">
        <h3 class="page-header">註冊</h3>
        <div class="well">
            <form action="/register" method="post">
                <div class="form-group">
                    <label for="usernameId">用户名</label>
                    <input type="text" name="username" id="usernameId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="passwordId">密碼</label>
                    <input type="password" name="password" id="passwordId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="confirmPasswordId">確認密碼</label>
                    <input type="password" name="confirmPassword" id="confirmPasswordId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="emailId">信箱</label>
                    <input type="text" name="email" id="emailId" class="form-control">
                </div>
                <div class="form-group">
                    <label for="phoneId">手機</label>
                    <input type="text" name="phone" id="phoneId" class="form-control">
                </div>
                <p class="text-center">
                    <button type="submit" class="btn btn-primary">註 冊</button>
                </p>
            </form>
        </div>
    </div>

<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>